<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.esi.nl/comma/behavior/scl/Scl"
			class = "nl.esi.comma.behavior.scl.scl.SclPackage"
			genModel = "model/generated/Scl.genmodel" />
	</extension>
</plugin>
