<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.esi.nl/comma/constraints/Constraints"
			class = "nl.esi.comma.constraints.constraints.ConstraintsPackage"
			genModel = "model/generated/Constraints.genmodel" />
	</extension>
</plugin>
