<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2024, 2026 TNO-ESI

    This program and the accompanying materials are made
    available under the terms of the Eclipse Public License 2.0
    which is available at https://www.eclipse.org/legal/epl-2.0/

    SPDX-License-Identifier: EPL-2.0

-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="target/eclipse-help/toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.intro.quicklinks">
      <url
            description="Learn about the XPlus design"
            icon="platform:/plugin/org.eclipse.ui.intro.universal/themes/solstice/graphics/icons/ctool/start-cheatsheet.png"
            label="Read the XPlus design documentation"
            location="http://org.eclipse.ui.intro/showHelpTopic?id=/nl.esi.xplus.doc.design/target/eclipse-help/index.html">
      </url>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/xplus-design.xml">
      </configExtension>
   </extension>

</plugin>
