/.LezerGrammarFragment.java._trace
/.LezerGrammarFragment.xtendbin
/.TerminalRuleToLezer.java._trace
/.TerminalRuleToLezer.xtendbin
/.TerminalRuleToRegEx.java._trace
/.TerminalRuleToRegEx.xtendbin
/LezerGrammarFragment.java
/TerminalRuleToLezer.java
/TerminalRuleToRegEx.java
