.idea/*
__pycache__/
*.pyc

# Ignore plugin.xml_gen and feature.xml_gen files, when build Eclipse Plugin.
*.xml_gen

# Eclipse #
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*.orig
*~.nib
local.properties
.antlr-generator-*-patch.jar

# .settings/ #
.loadpath
.recommenders

# maven #
target/
.polyglot.*
.m2/
pom.tycho