<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.esi.nl/comma/behavior/Behavior"
			class = "nl.esi.comma.behavior.behavior.BehaviorPackage"
			genModel = "model/generated/Behavior.genmodel" />
	</extension>
</plugin>
