<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.debug.core.groups.GroupLaunchConfigurationType">
    <stringAttribute key="org.eclipse.debug.core.launchGroup.0.action" value="WAIT_FOR_TERMINATION"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.0.adoptIfRunning" value="false"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.0.enabled" value="true"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.0.mode" value="inherit"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.0.name" value="Generate Types (types) Language Infrastructure"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.1.action" value="WAIT_FOR_TERMINATION"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.1.adoptIfRunning" value="false"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.1.enabled" value="true"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.1.mode" value="inherit"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.1.name" value="Generate InterfaceSignature (signature) Language Infrastructure"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.10.action" value="WAIT_FOR_TERMINATION"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.10.adoptIfRunning" value="false"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.10.enabled" value="true"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.10.mode" value="inherit"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.10.name" value="Generate Scenarios (scenarios) Language Infrastructure"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.11.action" value="WAIT_FOR_TERMINATION"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.11.adoptIfRunning" value="false"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.11.enabled" value="true"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.11.mode" value="inherit"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.11.name" value="Generate Configuration (config) Language Infrastructure"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.12.action" value="WAIT_FOR_TERMINATION"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.12.adoptIfRunning" value="false"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.12.enabled" value="true"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.12.mode" value="inherit"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.12.name" value="Generate Step (steps) Language Infrastructure"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.13.action" value="WAIT_FOR_TERMINATION"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.13.adoptIfRunning" value="false"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.13.enabled" value="true"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.13.mode" value="inherit"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.13.name" value="Generate Constraints (constraints) Language Infrastructure"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.14.action" value="WAIT_FOR_TERMINATION"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.14.adoptIfRunning" value="false"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.14.enabled" value="true"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.14.mode" value="inherit"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.14.name" value="Generate StandardProject (prj) Language Infrastructure"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.2.action" value="WAIT_FOR_TERMINATION"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.2.adoptIfRunning" value="false"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.2.enabled" value="true"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.2.mode" value="inherit"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.2.name" value="Generate Expression (expression) Language Infrastructure"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.3.action" value="WAIT_FOR_TERMINATION"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.3.adoptIfRunning" value="false"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.3.enabled" value="true"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.3.mode" value="inherit"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.3.name" value="Generate Actions (actions) Language Infrastructure"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.4.action" value="WAIT_FOR_TERMINATION"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.4.adoptIfRunning" value="false"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.4.enabled" value="true"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.4.mode" value="inherit"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.4.name" value="Generate AssertThat (assertthat) Language Infrastructure"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.5.action" value="WAIT_FOR_TERMINATION"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.5.adoptIfRunning" value="false"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.5.enabled" value="true"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.5.mode" value="inherit"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.5.name" value="Generate Product (ps) Language Infrastructure"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.6.action" value="WAIT_FOR_TERMINATION"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.6.adoptIfRunning" value="false"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.6.enabled" value="true"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.6.mode" value="inherit"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.6.name" value="Generate CausalGraph (cg) Language Infrastructure"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.7.action" value="WAIT_FOR_TERMINATION"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.7.adoptIfRunning" value="false"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.7.enabled" value="true"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.7.mode" value="inherit"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.7.name" value="Generate InputSpecification (input) Language Infrastructure"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.8.action" value="WAIT_FOR_TERMINATION"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.8.adoptIfRunning" value="false"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.8.enabled" value="true"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.8.mode" value="inherit"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.8.name" value="Generate Testspecification (tspec) Language Infrastructure"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.9.action" value="WAIT_FOR_TERMINATION"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.9.adoptIfRunning" value="false"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.9.enabled" value="true"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.9.mode" value="inherit"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.9.name" value="Generate Scl (scl) Language Infrastructure"/>
    <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
        <listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
        <listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
    </listAttribute>
</launchConfiguration>
