<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2024, 2025 TNO-ESI

    See the NOTICE file(s) distributed with this work for additional
    information regarding copyright ownership.

    This program and the accompanying materials are made available
    under the terms of the MIT License which is available at
    https://opensource.org/licenses/MIT

    SPDX-License-Identifier: MIT

-->
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="generator_extension" name="Generator Extension" schema="schema/generator_extension.exsd"/>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.esi.nl/comma/project/standard/StandardProject"
			class = "nl.esi.comma.project.standard.standardProject.StandardProjectPackage"
			genModel = "model/generated/StandardProject.genmodel" />
	</extension>
</plugin>
