<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.esi.nl/comma/assertthat/AssertThat"
			class = "nl.esi.comma.assertthat.assertThat.AssertThatPackage"
			genModel = "model/generated/AssertThat.genmodel" />
	</extension>
</plugin>
