<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="commaValidator" name="ComMAValidator" schema="schema/commaValidator.exsd"/>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.esi.nl/comma/types/Types"
			class = "nl.esi.comma.types.types.TypesPackage"
			genModel = "model/generated/Types.genmodel" />
	</extension>
 <extension
       id="Comma_Eclipse"
       point="org.eclipse.core.runtime.products">
    <product
          application="org.eclipse.ui.ide.workbench"
          name="ComMA">
       <property
             name="startupProgressRect"
             value="5,275,445,15">
       </property>
       <property
             name="appName"
             value="ComMA">
       </property>
       <property
             name="aboutImage"
             value="platform:/plugin/nl.esi.comma.types.ui/icons/if_eclipse_256.png">
       </property>
       <property
             name="windowImages"
             value="platform:/plugin/nl.esi.comma.types.ui/icons/if_eclipse_16.png,platform:/plugin/nl.esi.comma.types.ui/icons/if_eclipse_32.png,platform:/plugin/nl.esi.comma.types.ui/icons/if_eclipse_48.png,platform:/plugin/nl.esi.comma.types.ui/icons/if_eclipse_64.png,platform:/plugin/nl.esi.comma.types.ui/icons/if_eclipse_128.png,platform:/plugin/nl.esi.comma.types.ui/icons/if_eclipse_256.png">
       </property>
       <property
             name="preferenceCustomization"
             value="plugin_customization.ini">
       </property>
    </product>
 </extension>
</plugin>
