<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
 <extension
       id="Comma_Eclipse"
       point="org.eclipse.core.runtime.products"
       name="ComMA">
    <product
    	description="ComMA product"    		
          application="org.eclipse.ui.ide.workbench"
          name="Comma">
       <property
             name="appName"
             value="Comma">
       </property>
       <property
             name="startupProgressRect"
             value="5,275,445,15">
       </property>
       <property
             name="preferenceCustomization"
             value="plugin_customization.ini">
       </property>
    </product>
 </extension>
</plugin>
  